In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [39]:
lol = pd.read_csv('lol-matches2020.csv')
lol.head(3)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
0,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,23.0,4888.0,7368.0,131.0,4723.0,7202.0,118.0,165.0,166.0,13.0
1,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,-10.0,4385.0,4817.0,91.0,4784.0,4667.0,98.0,-399.0,150.0,-7.0
2,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,-9.0,4809.0,6275.0,129.0,5218.0,8112.0,140.0,-409.0,-1837.0,-11.0

In [40]:
lol.info

<bound method DataFrame.info of                       gameid datacompleteness  \
0      ESPORTSTMNT03/1241318         complete
1      ESPORTSTMNT03/1241318         complete
2      ESPORTSTMNT03/1241318         complete
3      ESPORTSTMNT03/1241318         complete
4      ESPORTSTMNT03/1241318         complete
...                      ...              ...
76735  ESPORTSTMNT01/1610170         complete
76736  ESPORTSTMNT01/1610170         complete
76737  ESPORTSTMNT01/1610170         complete
76738  ESPORTSTMNT01/1610170         complete
76739  ESPORTSTMNT01/1610170         complete

                                                     url league  year split  \
0      http://matchhistory.na.leagueoflegends.com/en/...  KeSPA  2020   NaN
1      http://matchhistory.na.leagueoflegends.com/en/...  KeSPA  2020   NaN
2      http://matchhistory.na.leagueoflegends.com/en/...  KeSPA  2020   NaN
3      http://matchhistory.na.leagueoflegends.com/en/...  KeSPA  2020   NaN
4      http://matchhistory.na.leagueoflegends.com/en/...  KeSPA  2020   NaN
...                                                  ...    ...   ...   ...
76735  http://matchhistory.na.leagueoflegends.com/en/...    NLC  2020   NaN
76736  http://matchhistory.na.leagueoflegends.com/en/...    NLC  2020   NaN
76737  http://matchhistory.na.leagueoflegends.com/en/...    NLC  2020   NaN
76738  http://matchhistory.na.leagueoflegends.com/en/...    NLC  2020   NaN
76739  http://matchhistory.na.leagueoflegends.com/en/...    NLC  2020   NaN

       playoffs                 date  game  patch  ...  csdiffat10 goldat15  \
0             0  2020-01-03 07:33:26     1   9.24  ...        23.0   4888.0
1             0  2020-01-03 07:33:26     1   9.24  ...       -10.0   4385.0
2             0  2020-01-03 07:33:26     1   9.24  ...        -9.0   4809.0
3             0  2020-01-03 07:33:26     1   9.24  ...         3.0   4915.0
4             0  2020-01-03 07:33:26     1   9.24  ...         1.0   2956.0
...         ...                  ...   ...    ...  ...         ...      ...
76735         0  2020-11-15 19:37:38     4  10.21  ...         9.0   5855.0
76736         0  2020-11-15 19:37:38     4  10.21  ...       -21.0   4576.0
76737         0  2020-11-15 19:37:38     4  10.21  ...         3.0   3526.0
76738         0  2020-11-15 19:37:38     4  10.21  ...       -15.0  25633.0
76739         0  2020-11-15 19:37:38     4  10.21  ...        15.0  26808.0

        xpat15 csat15 opp_goldat15 opp_xpat15 opp_csat15 golddiffat15  \
0       7368.0  131.0       4723.0     7202.0      118.0        165.0
1       4817.0   91.0       4784.0     4667.0       98.0       -399.0
2       6275.0  129.0       5218.0     8112.0      140.0       -409.0
3       4959.0  136.0       4864.0     5360.0      135.0         51.0
4       3800.0   20.0       3189.0     3543.0       28.0       -233.0
...        ...    ...          ...        ...        ...          ...
76735   7485.0  150.0       5682.0     7692.0      140.0        173.0
76736   5391.0  101.0       6072.0     5771.0      136.0      -1496.0
76737   3272.0   24.0       3617.0     3777.0       23.0        -91.0
76738  28654.0  482.0      26808.0    28934.0      492.0      -1175.0
76739  28934.0  492.0      25633.0    28654.0      482.0       1175.0

      xpdiffat15 csdiffat15
0          166.0       13.0
1          150.0       -7.0
2        -1837.0      -11.0
3         -401.0        1.0
4          257.0       -8.0
...          ...        ...
76735     -207.0       10.0
76736     -380.0      -35.0
76737     -505.0        1.0
76738     -280.0      -10.0
76739      280.0       10.0

[76740 rows x 105 columns]>

In [41]:
lol.columns

Index(['gameid', 'datacompleteness', 'url', 'league', 'year', 'split',
       'playoffs', 'date', 'game', 'patch',
       ...
       'csdiffat10', 'goldat15', 'xpat15', 'csat15', 'opp_goldat15',
       'opp_xpat15', 'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15'],
      dtype='object', length=105)

In [70]:
lol.isnull().sum()

gameid               48
datacompleteness      0
url                   0
league                0
year                  0
                   ...
opp_xpat15          612
opp_csat15          612
golddiffat15        612
xpdiffat15          612
csdiffat15          612
Length: 105, dtype: int64

In [59]:
lolds = lol.dropna(how="all")

In [60]:
lolds.describe(include=np.object)

,gameid,datacompleteness,url,league,split,date,side,position,player,team,champion,ban1,ban2,ban3,ban4,ban5
count,76692,76740,76740,76740,66576,76740,76740,76740,63950,76698,63950,76602,76650,76578,76482,76302
unique,6391,2,5386,28,7,6362,2,6,1901,293,148,128,127,126,141,136
top,ESPORTSTMNT03/1334801,complete,https://lpl.qq.com/es/stats.shtml?bmid=6686,LDL,Summer,2020-06-17 10:59:00,Blue,top,unknown player,DRX,Nautilus,Varus,Sett,Sett,LeBlanc,LeBlanc
freq,12,75792,60,11508,35304,24,38370,12790,312,738,2329,5394,5016,5472,3834,3312

In [61]:
red_team = lolds[lolds['playerid'] == 200]
red_team.head(3)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
11,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,-8.0,22778.0,28884.0,519.0,21953.0,27219.0,507.0,825.0,1665.0,12.0
23,ESPORTSTMNT03/1241322,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 09:00:58,2,9.24,...,34.0,27198.0,31702.0,557.0,21714.0,26869.0,501.0,5484.0,4833.0,56.0
35,ESPORTSTMNT03/1241324,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 10:05:17,3,9.24,...,-25.0,22316.0,28252.0,531.0,24882.0,30349.0,584.0,-2566.0,-2097.0,-53.0

In [48]:
red_wins = red_team[red_team['result']==1]
red_wins.head(3)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
23,ESPORTSTMNT03/1241322,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 09:00:58,2,9.24,...,34.0,27198.0,31702.0,557.0,21714.0,26869.0,501.0,5484.0,4833.0,56.0
47,ESPORTSTMNT03/1241328,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 10:57:28,4,9.24,...,21.0,24800.0,29157.0,535.0,22329.0,26093.0,465.0,2471.0,3064.0,70.0
59,ESPORTSTMNT03/1241386,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-04 05:33:33,1,9.24,...,-12.0,23767.0,29371.0,524.0,24644.0,29576.0,550.0,-877.0,-205.0,-26.0

In [65]:
blue_team = lolds[lolds['playerid']==100]
blue_team.head(3)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
10,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,8.0,21953.0,27219.0,507.0,22778.0,28884.0,519.0,-825.0,-1665.0,-12.0
22,ESPORTSTMNT03/1241322,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 09:00:58,2,9.24,...,-34.0,21714.0,26869.0,501.0,27198.0,31702.0,557.0,-5484.0,-4833.0,-56.0
34,ESPORTSTMNT03/1241324,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 10:05:17,3,9.24,...,25.0,24882.0,30349.0,584.0,22316.0,28252.0,531.0,2566.0,2097.0,53.0

In [50]:
blue_wins = blue_team[blue_team['result']==1]
blue_wins.head(3)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
10,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,8.0,21953.0,27219.0,507.0,22778.0,28884.0,519.0,-825.0,-1665.0,-12.0
34,ESPORTSTMNT03/1241324,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 10:05:17,3,9.24,...,25.0,24882.0,30349.0,584.0,22316.0,28252.0,531.0,2566.0,2097.0,53.0
70,ESPORTSTMNT03/1241394,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-04 06:55:30,2,9.24,...,-11.0,25610.0,30131.0,526.0,23223.0,29928.0,539.0,2387.0,203.0,-13.0

In [255]:
## blue_wins.groupby(by='kills').agg(["min","max","mean"]) groupby deneme

In [142]:
team_stat = lolds[(lolds['playerid'] == 100) | (lolds['playerid'] == 200)]
team_stat.head(5)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
10,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,8.0,21953.0,27219.0,507.0,22778.0,28884.0,519.0,-825.0,-1665.0,-12.0
11,ESPORTSTMNT03/1241318,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 07:33:26,1,9.24,...,-8.0,22778.0,28884.0,519.0,21953.0,27219.0,507.0,825.0,1665.0,12.0
22,ESPORTSTMNT03/1241322,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 09:00:58,2,9.24,...,-34.0,21714.0,26869.0,501.0,27198.0,31702.0,557.0,-5484.0,-4833.0,-56.0
23,ESPORTSTMNT03/1241322,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 09:00:58,2,9.24,...,34.0,27198.0,31702.0,557.0,21714.0,26869.0,501.0,5484.0,4833.0,56.0
34,ESPORTSTMNT03/1241324,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2020,NaN,0,2020-01-03 10:05:17,3,9.24,...,25.0,24882.0,30349.0,584.0,22316.0,28252.0,531.0,2566.0,2097.0,53.0

### Remove superflous data

In [261]:
# team_stat.drop(['url','datacompleteness','year','split','playoffs','champion','player',
## 'dragons (type unknown)','position'],axis=1,inplace=True)
del team_stat['position']
team_stat.columns

Index(['league', 'date', 'game', 'patch', 'playerid', 'side', 'team', 'ban1',
       'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'kills',
       'deaths', 'assists', 'teamkills', 'teamdeaths', 'doublekills',
       'triplekills', 'quadrakills', 'pentakills', 'firstblood',
       'firstbloodkill', 'firstbloodassist', 'firstbloodvictim', 'team kpm',
       'ckpm', 'firstdragon', 'dragons', 'opp_dragons', 'elementaldrakes',
       'opp_elementaldrakes', 'infernals', 'mountains', 'clouds', 'oceans',
       'elders', 'opp_elders', 'firstherald', 'heralds', 'opp_heralds',
       'firstbaron', 'barons', 'opp_barons', 'firsttower', 'towers',
       'opp_towers', 'firstmidtower', 'firsttothreetowers', 'inhibitors',
       'opp_inhibitors', 'damagetochampions', 'dpm', 'damageshare',
       'damagetakenperminute', 'damagemitigatedperminute', 'wardsplaced',
       'wpm', 'wardskilled', 'wcpm', 'controlwardsbought', 'visionscore',
       'vspm', 'totalgold', 'earnedgold', 'earned gpm', 'earnedgoldshare',
       'goldspent', 'gspd', 'total cs', 'minionkills', 'monsterkills',
       'monsterkillsownjungle', 'monsterkillsenemyjungle', 'cspm', 'goldat10',
       'xpat10', 'csat10', 'opp_goldat10', 'opp_xpat10', 'opp_csat10',
       'golddiffat10', 'xpdiffat10', 'csdiffat10', 'goldat15', 'xpat15',
       'csat15', 'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'golddiffat15',
       'xpdiffat15', 'csdiffat15'],
      dtype='object')

In [262]:
# blue_team['ban2'].mode()
# blue_team['ban2'].value_counts().idxmax()
blue_team['ban1'].value_counts()[:5].sort_values(ascending=False)

Kalista    376
Sett       359
Syndra     328
Zoe        326
LeBlanc    319
Name: ban1, dtype: int64

In [263]:
red_team['ban1'].value_counts()[:5].sort_values(ascending=False)

Varus       859
Aphelios    482
Sett        381
Akali       315
Kalista     260
Name: ban1, dtype: int64

In [264]:
patch1 = team_stat[team_stat['patch']==10.19]
patch1

,league,date,game,patch,playerid,side,team,ban1,ban2,ban3,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
72994,WCS,2020-09-25 07:42:21,1,10.19,100,Blue,MAD Lions,Bard,Orianna,Volibear,...,36.0,23855.0,29612.0,531.0,22043.0,27365.0,473.0,1812.0,2247.0,58.0
72995,WCS,2020-09-25 07:42:21,1,10.19,200,Red,INTZ,Lillia,Caitlyn,Akali,...,-36.0,22043.0,27365.0,473.0,23855.0,29612.0,531.0,-1812.0,-2247.0,-58.0
73006,WCS,2020-09-25 08:50:59,1,10.19,100,Blue,PSG Talon,Shen,Twisted Fate,Nidalee,...,-18.0,25511.0,29211.0,484.0,23949.0,28640.0,505.0,1562.0,571.0,-21.0
73007,WCS,2020-09-25 08:50:59,1,10.19,200,Red,Rainbow7,Lillia,Lucian,Graves,...,18.0,23949.0,28640.0,505.0,25511.0,29211.0,484.0,-1562.0,-571.0,21.0
73018,WCS,2020-09-25 10:00:18,1,10.19,100,Blue,Legacy Esports,Orianna,Renekton,Lucian,...,-2.0,26582.0,30156.0,524.0,22547.0,29387.0,502.0,4035.0,769.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76055,NLC,2020-11-08 20:49:10,2,10.19,200,Red,Plejehjemmet Kalder,Lillia,Nidalee,Ornn,...,-40.0,26881.0,29652.0,465.0,27555.0,30210.0,498.0,-674.0,-558.0,-33.0
76066,NLC,2020-11-08 21:06:23,2,10.19,100,Blue,Riddle Esports,Lillia,Syndra,Jax,...,-42.0,21887.0,26261.0,438.0,28208.0,28340.0,488.0,-6321.0,-2079.0,-50.0
76067,NLC,2020-11-08 21:06:23,2,10.19,200,Red,ENCE,Karthus,Lucian,Galio,...,42.0,28208.0,28340.0,488.0,21887.0,26261.0,438.0,6321.0,2079.0,50.0
76078,NLC,2020-11-08 22:00:41,3,10.19,100,Blue,ENCE,Karthus,Galio,Hecarim,...,-17.0,22260.0,26621.0,485.0,24667.0,27519.0,489.0,-2407.0,-898.0,-4.0
76079,NLC,2020-11-08 22:00:41,3,10.19,200,Red,Riddle Esports,Twisted Fate,Lucian,Ashe,...,17.0,24667.0,27519.0,489.0,22260.0,26621.0,485.0,2407.0,898.0,4.0

In [309]:
patch1['ban5'].value_counts()[:5].sort_values(ascending=False)

Pantheon    24
Ornn        20
Thresh      20
Ashe        18
Leona       17
Name: ban5, dtype: int64

In [330]:
patch1.groupby(by='result').agg(['max']).sort_values(by="result", ascending=False, na_position='first').head(5)

,league,date,game,patch,playerid,side,ban1,gamelength,kills,deaths,...,csdiffat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15
,max,max,max,max,max,max,max,max,max,max,...,max,max,max,max,max,max,max,max,max,max
result,,,,,,,,,,,,,,,,,,,,,
1,WCS,2020-11-08 22:00:41,5,10.19,200,Red,Zoe,2728,42,29,...,88.0,32747.0,34727.0,587.0,28309.0,31455.0,582.0,10749.0,7638.0,161.0
0,WCS,2020-11-08 22:00:41,5,10.19,200,Red,Zoe,2728,29,42,...,63.0,28309.0,31455.0,582.0,32747.0,34727.0,587.0,4145.0,2813.0,77.0

In [357]:
patch1["team"].value_counts('result')[:5].sort_values(ascending=False)

Absolved           0.038076
Suning             0.038076
Nordavind White    0.036072
LGD Gaming         0.034068
DAMWON Gaming      0.034068
Name: team, dtype: float64